<ion-header>
  
    <ion-navbar>
      <ion-title>{{user.name}}</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <div class="message-wrap" #content>
  
      <div *ngFor="let msg of dataSet"
           class="message"
           [class.right]=" msg.user_id != user.user_id"
           [class.left]=" msg.user_id === user.user_id">
        <img class="user-img" src="http://localhost/siseedlan/upload/avatar/{{ msg.avatar }}" alt="" >
        <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
        <div class="msg-detail">
          <div class="msg-info">
            <p>{{msg.dte}} | {{msg.time}}</p>
          </div>
          <div class="msg-content">
            <span class="triangle"></span>
            <p class="line-breaker ">{{msg.message}}</p>
          </div>
        </div>
      </div>
  
    </div>
  </ion-content>
  
  <ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
    <div class ="input-wrap">
      <button ion-button clear icon-only item-right>
        <ion-icon name="md-happy"></ion-icon>
      </button>
      <textarea #chat_input
                placeholder="Text Input"
                [(ngModel)]="messageData.message"
                (keyup.enter)="post()">
      </textarea>
      <button ion-button clear icon-only item-right (click)="post()">
        <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
      </button>
    </div>
    <!--<emoji-picker [(ngModel)]="editorMsg"></emoji-picker>-->